version: '3'
services:
  web:
    build: .
    command: /bin/bash -c "alembic upgrade head && uvicorn main:app --reload --host 0.0.0.0"
    ports:
      - 8000:8000
    volumes:
      - .:/app/

    depends_on:
      - db

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - 5433:5432
    env_file:
      - .env